RK_YOCTO_CFG="rockchip-rk3568-evb"
RK_KERNEL_DTS_NAME="rk3568-atk-evb1-ddr4-v10-linux"
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_USE_FIT_IMG=y
RK_TARGET_BOARD="ATK_DLRK3568"
RK_BUILD_JOBS="24"
RK_BUILDROOT_BASE_CFG="atk_dlrk3568"
#RK_BUILDROOT_BASE_CFG="rk3568"
RK_ROOTFS_HOSTNAME_CUSTOM=y
RK_ROOTFS_HOSTNAME="ATK-DLRK3568"
